html,
body {
  padding: 0;
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wd-center {
  margin-top: auto;
  margin-bottom: auto;
}

.slick-prev,
.slick-next {

  color: black !important;
  z-index: 100;

}

.slick-prev {
  left: 10px !important;
}

.slick-next {

  right: 10px !important
}

.slick-next:before {
  content: '' !important;
}

.slick-prev:before {
  content: '' !important;
}

@media only screen and (max-width: 768px) {
  .top-center {

    top: calc(50% - 490px/2);

  }

}

.section-separator {
  padding: 60px 0;
  padding-top: 100px
}

.candidatos {
  position: relative;
  margin-bottom: 15px;
}

.candidatos .parcial {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.candidatos .parcial .info {
  position: relative;
}

.candidatos .parcial .info .nome {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.9;
}

.candidatos .parcial .info .percentagem-num {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: normal;
}

.candidatos .parcial .progressBar {
  position: relative;
  width: 100%;
  height: 7px;
  margin: 30px 0 2px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.candidatos .parcial .percentagem {
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #0bceaf;
}

.mh-professional-progress li {
  display: inline-block;
  margin: 0 auto;
  float: none;
  width: 48%;
  margin-bottom: 30px;
  text-align: center;
}

.mh-professional-progress li {
  display: inline-block;
  margin: 0 auto;
  float: none;
  width: 48%;
  margin-bottom: 30px;
  text-align: center;
}

.mh-progress.mh-progress-circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
}

.progressbar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0px;
  margin: 0px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
}

.pr-skill-name {
  font-size: 16px;
  font-weight: normal;
}

.mh-progress path:nth-child(2) {
  stroke: #0bceaf;
}
